@import '../utils/variables';
@import '../utils/mixins';

.transactions__container {
  padding: 40px 0;
  @include flex(column, flex-start, stretch);
  gap: 20px;
}

.transactions__grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
}

.transactions__grid_title {
  @include font(14px, 500, 17px);
  color: $text-pale-dark;
  text-transform: uppercase;
}

@media (max-width: 991px) {
  .transactions__grid {
    grid-template-columns: 2fr 1.3fr;

    & p:nth-child(2) {
      display: none;
    }
  }
}
