@import '../utils/variables';
@import '../utils/mixins';

.purchases__details-button {
  justify-self: flex-start;
  color: $text-pale-dark;
  border-bottom: 1px solid $text-pale-dark;
  cursor: pointer;
}

.purchases__details {
  opacity: 0;
  height: 0;
  padding-top: 10px;
  transition: all 0.5s;
  color: $text-pale-dark;
  @include flex(column, flex-start, stretch);
  gap: 10px;

  &.active {
    opacity: 1;
    height: auto;
  }
}

.purchases__buy-again-button {
  cursor: pointer;
}
