@import '../utils/variables';
@import '../utils/mixins';

.header__settings-button {
  width: 48px;
  height: 48px;
  @include flex(row, center, center);
  background-color: $bg-dark;
  cursor: pointer;
}

.header__settings-button {
  background-color: $bg-light;
  border: 1px solid $border-dark;
}

.tabs {
  @include flex(row, space-between, stretch);
  gap: 10px;
}

.tabs__button {
  width: 50%;
  height: 62px;
  cursor: pointer;
  text-transform: capitalize;
  @include font(18px, 500, 22px);
  color: $text-pale-dark;
  transition: all 0.3s;

  &.active {
    color: $text-dark;
    border-bottom: 1px solid $text-dark;
  }
}

.modal__block {
  width: 600px;
  min-height: 400px;
  @include flex(column, flex-start, stretch);
  gap: 20px;
}

.modal__message {
  align-self: center;
}

@media (max-width: 991px) {
  .modal__block {
    width: 510px;
    min-height: 400px;
    @include flex(column, flex-start, stretch);
    gap: 20px;
  }
}

@media (max-width: 675px) {
  .modal__block {
    width: 95%;
    min-height: 400px;
    @include flex(column, flex-start, stretch);
    gap: 20px;
  }
}
