$bg-light: #ffffff;
$bg-dark: #282828;
$bg-pale: #f1f1f1;
$text-light: #ffffff;
$text-dark: #000000;
$text-pale-dark: #6e6e6e;
$text-pale-light: #a0a0a0;
$border-dark: #121212;
$border-pale: #9e9e9e;
$error-color: #dc7c69;
$padding-x-desktop: 0 40px;
$padding-x-mobile: 0 20px;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
